/build
/dist
/.tox
*.pyc
/src/noads.egg-info

/.project
/.pydevproject
/.settings
/.idea
/.vim*
/.vscode
/tags

/docs/_build
/docs/gallery
/docs/reference/generated
/docs/sg_execution_times.rst
/docs/examples/**/*.png
/docs/examples/**/*.pdf

/htmlcov

/coverage.xml
/.coverage*
!/.coveragerc

/.pytest_cache
